.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
}

.auth-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px -5px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  width: 90%;
  padding: 15px;
  background-color: #6a11cb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.link {
  color: #2575fc;
  cursor: pointer;
  font-weight: bold;
}
